[submodule "libft"]
	path = libft
	url = https://bhivert@bitbucket.org/bhivert/libft
[submodule "lib3d"]
	path = lib3d
	url = https://bhivert@bitbucket.org/bhivert/lib3d
[submodule "libui"]
	path = libui
	url = https://bhivert@bitbucket.org/bhivert/libui
[submodule "libfd"]
	path = libfd
	url = https://bhivert@bitbucket.org/bhivert/libfd.git
